<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Escale Gas Station Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Escale.Web.styles.css" asp-append-version="true" />
</head>
<body class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Account" ? "login-page" : "")">
    @if (ViewContext.RouteData.Values["controller"]?.ToString() != "Account")
    {
        <partial name="_TopNav" />
        <div class="container-fluid">
            <div class="row">
                <partial name="_Sidebar" />
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 main-content">
                    @RenderBody()
                </main>
            </div>
        </div>
    }
    else
    {
        @RenderBody()
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
